body{
  background: #F1F1F1;
  margin: 0px;
  color: #646464;
}
a{
  color: #646464;
}
a:hover{
  color: #2ebaae !important;
}
/*
==============================
Helpful classes
==============================
*/
.clear{
  clear: both;
  display: inline;
}
/*
=============================================
Header - Styles
=============================================
*/

header{
    background-color: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.logo{
  float: left;
  border-right: solid 1px rgba(160, 160, 160, 0.3);
  height: inherit;
}
.logo img{
  margin: 10px 20px;
}
.links ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  height: inherit;
}
.links ul li{
  float:left;
  padding: 0 10px;
}
.links ul li a{
  padding-right: 10px;
  border-right: solid 1px rgba(160, 160, 160, 0.3);
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	text-decoration: none;
}
/*
TODO: Figure out how to get last child
*/
.links ul li:last-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

.container{
  margin-top: 4em; 
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}



/*
===================Temp
*/


.post{
  margin: 20px 10px;
  background: #fff;
  float: left;
  width: 23%;
  text-align: justify;
  box-shadow: 2px 2px 3px;
}

.post h2{
  margin: 0 10px;
  cursor:pointer;
}

.post p{
  margin: 10px;
}

.post-read{
  margin: 0 25px;
  width: 95%;
  box-shadow: 2px 2px 3px;
}
.post-read-header{
  position: relative;
}

.post-read-header h2 { 
   position: absolute; 
   left: 0; 
   width: 100%;
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
  bottom: 0px;
  padding: 10px 0px;
  margin: 0px;
  font-size: -webkit-xxx-large;
}
.post-read-header img{
  width: 100%; /* for IE 6 */
}

.post-read-content{
  background: #fff;
  text-align: justify;
}

.post-read-content p{
    margin: 10px;
    font-size: x-large;
}









