@font-face {
  font-family: 'FedraSansStd';
  src: url('../assets/fonts/FedraSansStd_Normal.otf') format('opentype');
}

@font-face {
  font-family: 'AndaleMono';
  src: url('../assets/fonts/Andale_Mono.ttf') format('truetype');
}
