@import './fonts';
@import './partials/typography';
@import './partials/link';
@import './partials/icons';
@import './plax';

$top-header-height: 172px;

body {
  padding-left: 139px;
  padding-top: 55px;
  padding-bottom: 30px;
}

hr,
.hr {
  background: $hr-rule-color;
  margin: 0;
  border: none;
  height: $hr-size;
}
.hr {
  &-top {
    top: 145px;
    position: absolute;
    left: -26px;
    right: -252px;
    z-index: -1;
  }

  &-bottom {
    margin-left: -123px;
    margin-right: -252px;
  }
}
// main container.
.container {
  $container-width: 414px;

  padding-top: 57px;
  padding-bottom: 19px;
  padding-left: 97px;
  width: $container-width;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  background-image: $container-background;

  > header {
    height: $top-header-height;
  }
}

.me {
  $thumbnail-filters: grayscale(100%);

  background: url('../assets/images/me_2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: $top-header-height;
  height: $top-header-height;

  filter: $thumbnail-filters;
}

.about {
  .content {
    $content-width: 150%;
    width: $content-width;
  }
}

footer {
  > p {
    font-size: 12px;
    margin-top: 19px;
    margin-bottom: 0;
  }
}
