@import './fonts';
@import './partials/typography';
@import './partials/link';
@import './partials/icons';
@import './plax';

$top-header-height: 172px;

hr,
.hr {
  background: $hr-rule-color;
  margin: 0;
  border: none;
  height: $hr-size;
}
.hr {
  &-top {
    top: 190px;
    position: absolute;
    left: -123px;
    right: 215px;
    z-index: -1;
  }

  &-bottom {
    margin-left: -123px;
    margin-right: -310px;
  }
}
// main container.
.container {
  $container-width: 414px;

  margin-left: 139px;
  margin-top: 55px;
  margin-bottom: 30px;

  padding-left: 97px;
  width: $container-width;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  background-image: $container-background;

  > header {
    padding-top: 106px;
    padding-right: 110px;
    height: $top-header-height;
    width: 731px;
    position: relative;

    > .nav {
      margin-top: 100px;
      margin-bottom: 0;
    }
  }
}

.me {
  $thumbnail-filters: grayscale(100%);

  background: url('../assets/images/me.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: $top-header-height;
  height: $top-header-height;

  filter: $thumbnail-filters;
}

.about {
  .content {
    $content-width: 150%;
    width: $content-width;
  }
}

footer {
  > p {
    font-size: 12px;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
