@import './fonts';
@import './partials/typography';
@import './partials/link';
@import './partials/icons';
@import './plax';

$thumbnail-size: 172px;

html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
}

main {
  max-width: 692px;
  margin: auto;
  header {
    position: relative;
  }
}

hr,
.hr {
  background: $hr-rule-color;
  margin: 0;
  border: none;
  height: $hr-size;
}
.hr {
  &-top {
    margin: 200px -120px 114px -120px;
  }
  &-bottom {
    margin: 0 14px;
  }
}

header {
  .plax-circle {
    &__small {
      top: -150px;
    }
    &__big {
      top: -118px;
      left: calc(50% - (300px / 2) + 80px);
    }
  }
}

footer {
  > p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.about {
  max-width: 450px;
  margin: 0 auto;
  text-align-last: center;
  text-align: justify;
}

.me {
  $thumbnail-filters: grayscale(45%);

  background: url('../assets/images/me.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: $thumbnail-size;
  height: $thumbnail-size;

  top: calc(-#{$thumbnail-size} / 2);
  left: calc(50% - #{$thumbnail-size} / 2);
  filter: $thumbnail-filters;
}

@media (max-width: 700px) {
  .hr-top {
    margin-left: 0;
    margin-right: 0;
  }
}
