<!DOCTYPE html>
<!--
 (                                                       
 )\ )              (   (           (          (          
(()/(    )      (  )\  )\ (        )\         )\ )   (   
 /(_))  (      ))\((_)((_))\ )   (((_)   (   (()/(  ))\  
(_))    )\  ' /((_)_   _ (()/(   )\___   )\   ((_))/((_) 
/ __| _((_)) (_)) | | | | )(_)) ((/ __| ((_)  _| |(_))   
\__ \| '  \()/ -_)| | | || || |  | (__ / _ \/ _` |/ -_)  
|___/|_|_|_| \___||_| |_| \_, |   \___|\___/\__,_|\___|  
                          |__/                           
-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="A blog inspired by Phoebe Buffay's smelly cat authored by Hitesh Kumar.">
    <meta name="author" content="Hitesh Kumar">

    <title>Smelly Code | A blog inspired by Phoebe Buffay's smelly cat</title>

    <link rel="stylesheet" href="dev_dependencies/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <!-- Theme CSS -->
    <link href="assets/css/clean-blog.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="dev_dependencies/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--Facebook meta data-->
    <meta property="og:url" content="http://smellycode.com">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Smelly Code">
    <meta property="og:description" content="A blog inspired by Phoebe Buffay's smelly cat authored by Hitesh Kumar.">
    <meta property="og:image" content="http://smellycode.com/assets/images/logo.png">
    <!--/Facebook meta data-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="smellycode" ng-controller="MainController as ctrl" ng-strict-di>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Smelly Code</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li>
                        <a href="about.html">About</a>
                    </li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Smelly Code</h1>
                        <span>&bull; &bull; &bull;</span>
                        <span class="subheading">Smelly Code Smelly Code. Why are they writing you.</span>
                        <span class="subheading">Smelly Code Smelly Code. It's not your fault.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview" ng-repeat="post in ctrl.posts track by $index">
                    <a ng-href="{{post.url}}">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.author}}</a> on {{post.date | date}}</p>
                    <hr ng-if="!$last">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center social">
                        <li class="stackoverflow">
                            <a href="http://stackoverflow.com/users/2879146/hitesh-kumar" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="github">
                            <a href="https://github.com/hk-skit" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/developerhk" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="https://www.linkedin.com/in/programmerhk/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; SmellyCode 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="dev_dependencies/jquery/dist/jquery.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="dev_dependencies/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.js"></script>

    <script src="dev_dependencies/angular/angular.min.js"></script>

    <!-- App JS -->
    <script src="js/app.js"></script>
</body>

</html>
