<section class="about shadow">
    <section class="about-image">
      <img src="images/hitesh.jpg">
    </section>
    <section class="about-content">
      <p>
        Hi, this is <strong>Hitesh Kumar</strong>. I am an ambitious person
        who is keen to learn new things. I &hearts; programming. I do it for fun and living.
        I work at <a href="http://eventifier.com" target="_blank">Eventifier</a> as a
        <a href="https://en.wikipedia.org/wiki/Front-end_web_development" target="_blank">Front-End Developer</a>
        I love to author <a href="https://www.javascript.com/" target="_blank">JavaScript</a>
        & <a href="https://angularjs.org/" target="_blank">AngularJs</a>. Sometimes I write <b>Html</b>
        & <b>Css</b>. In good old college days, I used to code in <b>Java</b> and <b>Android</b>. I enjoy writing code.
        I do it all the time.
        <p>This is my blog. Here, I share whatever I learn. I often share beautiful pictures and thoughts.</p>
      </p>
      <p>
        I also &hearts; music. Nowdays, I am listening <a href="http://www.brunomars.com/" target="_blank">Burno Mars</a> and 
        <a href="http://coldplay.com/" target="_blank">Colplay</a>. Sometimes when I am ecstatic, I sing. I sing 
        like <a href="http://doraemon.wikia.com/wiki/Takeshi_Gouda" target="_blank">Gian of Doreamon</a> &#128515;.
      </p>
      <p><b>Hola!</b> at: <a href="mailto:hk.skit@gmail.com">hk.skit@gmail.com</a></p>
    </section>
</section>