<!-- Lead -->

<section class="row-alt">
    <div class="lead container">

        <h1>Code Pulses</h1>

        <p>Code Pulses is a blog for programmers who are ready to take a plunge into the world of programming. Here auhtor shares
            whatever he has learned from his personal experience. Author believes that articulating thoughts is another way
            of teaching ourselves.</p>

    </div>
</section>

<section class="row">
    <div class="grid">

        <!-- Aaron Irizarry -->


        <aside>
            <div class="author-info">

                <img src="css/images/avtaar.png" alt="Hitesh Kumar">

                <ul>
                    <li><a href="https://twitter.com/developerhk">@developerhk</a></li>
                    <li><a href="http://hk-sit.github.io">hk-skit.github.io</a></li>
                </ul>

            </div>
        </aside>

        <section class="author" id="hitesh-kumar">

            <div>

                <h2>Hitesh Kumar</h2>
                <h5>Programming the art of living</h5>

                <p><em>"Everybody in this country should learn to program a computer... because it teaches
                    you how to think." ~ <a href="http://stevejobs.com">Steve Jobs</a></em></p>

                <p>TODO: Write some good stuff about programming here.</p>

                <h5>About Hitesh</h5>

                <p>Hitesh is a software engineer at <a href="http://intimetec.com">In Time Tec</a>. In his college days, he
                    used to develop android applications. Nowadays he is working on HTML5 Canvas, JavaScript and AngularJS.
                    Hitesh is an ambitious person who is always keen to learn new things. He likes reading self-help books.
                    Currently he is reading Think & Grow Rich.</p>

            </div>

        </section>

</section>