<!-- Hero -->

<section class="hero container">

    <h2>Deciphering the saphiosexuality of code.</h2>

    <p>Every year programmers across the globe write trillions lines of code, contribute towards thousands open source projects.
        Do you want to be one of them?</p>

    <a class="btn btn-alt" href="#/">Learn More</a>

</section>

<!-- Teasers -->

<section class="row">
    <div class="grid">

        <!-- Posts -->

        <section class="teaser col-1-3">
            <h5>World Class post</h5>
            <a href="#/">
                <img src="css/images/bg_1.jpg" alt="World Class post">
                <h3>World Class post</h3>
            </a>
            <p>On Code pluses we post world class post which are read all over the glob.</p>
        </section>

        <section class="teaser col-1-3">
            <h5>World Class post</h5>
            <a href="#/">
                <img src="css/images/bg_2.jpg" alt="World Class post">
                <h3>World Class post</h3>
            </a>
            <p>On Code pluses we post world class post which are read all over the glob.</p>
        </section>

        <section class="teaser col-1-3">
            <h5>World Class post</h5>
            <a href="#/">
                <img src="css/images/bg_3.jpg" alt="World Class post">
                <h3>World Class post</h3>
            </a>
            <p>On Code pluses we post world class post which are read all over the glob.</p>
        </section>

    </div>
</section>