<section class="home">
  <section class="home-banner">
    <div class="intro">
      <h1>{Codiary}</h1>
      <h3>The Diary of A Programmer.</h3>
      <p>Codiary is journal/diary where author shares his learnings/findings.
      Author strongly believes that by sharing knowledge one not only helps others but also 
      helps himself. Author also shares random beautiful pictures taken by himself. 
      Scroll down to see more.</p>
      <button class="intro-scroll-down">^</button>
    </div>
  </section>
  <section class="post-grid">
    <h1>Post grid will be here</h1>
  </section>
</section>