<section class="home" ng-controller="HomeController as ctrl">
  <section class="home-banner">
    <div class="intro">
      <h1>{Codiary}</h1>
      <h3>The Diary of A Programmer.</h3>
      <p>You know somewhere over the internet, there's a nagar called <b>Codiary</b> 
      and pleased to inform you that you are @Codiary. Codiary is by product 
      of a geek's engagement with web technologies. Codiary is renowned for 
      it's sapiosexuality. Whenever this geek has leisure time, he visits this 
      nagar and powers it's spaiosexuality. Every visit brings a drastic change in
      Codiary nagar's Entropy(Rate of Randomness). That's why the stuff found at Codiary
      is very random, dyanmic, unique, jovial, technical, euphoric, blah blah blah blah blah blah...
      </p>
      <div class="intro-scroll-down"><span class="fa fa-arrow-circle-down"></span></div>
    </div>
  </section>
  <section class="quote">
    <span class="quote-head"><a href="{{:: ctrl.quote.permalink}}" target="_blank">~: Quotable Quote :~</a></span>
    <div class="quote-content">
      <blockquote> {{ ::ctrl.quote.quote }}</blockquote>
      <span>~ {{ ::ctrl.quote.author }} </span>  
    </div>
  </section>
</section>