$base-font-family: AndaleMono, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;

$base-letter-spacing: -0.4px;

$heading-font-family: FedraSansStd, Helvetica, Arial, sans-serif;
