// Default text color.
$text-color: rgba(3, 3, 3, 0.8);

// Colors for links.
$link-text-color: #45a8cc;

$parallax-shape-background: #c4d9f4;
$shape-color2: #abb7c9;

$hr-rule-color: transparentize(#979797, 0.7);
