code {
    background: #f5f5f5;
    color: #333;
    font-size: 80%;
}
code,
pre {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}
.code__vanila {
    background-color: #f9f2f4
}
.intro-header {
    background: #0085A1;
}
article a {
    text-decoration: none;
    color: steelblue;
    transition: background-color 200ms ease;
}
article a:hover {
    color: gray;
    text-decoration: none;
}
.social a {
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}
.stackoverflow a:hover {
    color: #f48024;
}
.github a:hover {
    color: #000;
}
.twitter a:hover {
    color: #1da1f2;
}
.linkedin a:hover {
    color: #0077b5;
}
