.intro-header {
    background: #0085A1;
}
.stackoverflow a:hover {
    color: #f48024;
}
.github a:hover {
    color: #000;
}
.twitter a:hover {
    color: #1da1f2;
}
.linkedin a:hover {
    color: #0077b5;
}
