<div class="content">
  <div class="wrap">
    <div class="single-page">
      <div class="single-page-artical">
        <div class="artical-content">
          <img src="images/coorg-header.jpg" title="Coorg: Coconut Plants">
          <h3><a>A Walk to Coorg & Mysore</a></h3>
          <p>
            A couple of months ago I went to Bangulru for some project work. So during weeked I got chance to visit Coorg. Coorg is around 270km away from Bangluru. My friend Vikas was planning to go to Coorg. He insisted me to join. So I went with him. I am glad that I joined him because I will not find place like Coorg in north India.
          </p>
          <p class="para1">
            Coorg has so many splendid things. It has hills, lakes, safaris, river rafting, milky clouds, cute coffe beans, black papper and delicious juicy wine and many more.
          </p>
          <p class="para2">
            Here are some amazing view which I have captured when I was in Coorg.
          </p>
        </div>
        <div class="share-artical">
          <ul>
            <li>
              <a href="#"><img src="images/facebooks.png" title="facebook">Facebook</a>
            </li>
            <li>
              <a href="#"><img src="images/twiter.png" title="Twitter">Twiiter</a>
            </li>
            <li>
              <a href="#"><img src="images/google+.png" title="google+">Google+</a>
            </li>
            <li>
              <a href="#"><img src="images/rss.png" title="rss">Rss</a>
            </li>
          </ul>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>