body {
  width: 100%;
  background: #F7F7F7;
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: tomato;
}

.shadow{
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.2);
}

.main-header {
  background: white;
  box-shadow: 0px 1px 10px rgba(33, 33, 33, 0.3);
  text-align: center;
  display: -webkit-flex;
  display: flex;
  align-content: center;
  align-items: center;
}

.main-header .navigation {
  flex-grow: 1;
}

.logo,
ul {
  margin: 0;
}

.logo {
  padding: 0.25em 1em;
  font-family: 'Rochester', cursive;
  position: absolute;
  font-size: xx-large;
  top: 0;
  left: 0;
}

.navigation ul {
  padding: 1em 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  margin: 1.4em 1.4em;
  font-size: 1.4em;
}

.navigation a::after {
  color: tomato;
  border: 2px solid tomato;
  border-radius: 50%;
  content: '';
  width: 0.3em;
  height: 0.3em;
  margin: 0.6em 1.4em;
  position: absolute;
  background: tomato;
}

.navigation li:last-child a::after {
  display: none;
}

.active {
  color: tomato;
}

.home-banner{
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(150, 0, 0, 0.7)), url('../images/coconuts.jpg');
  background-position: center;
}
.intro {
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
.intro h1 , h3{
  margin: 0;
  padding: 0;
}

.intro h1{
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.intro-scroll-down {
  background: transparent;
  color: white;
  font-size: 3em;
}


.about {
  background: white;
  padding: 1em;
  border-top: 0.2em solid rgba(255, 67, 43, 0.7);
  font-family: 'Rochester', cursive;
  font-size: 1.7em;
  text-align: justify;
  width: 90%;
  margin: 1em auto;
}

.about a {
  color: teal;
}

.about a:hover {
  color: tomato;
}

.about-image {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.about-image img {
  border: 5px solid rgba(100, 100, 100, 0.2);
  border-radius: 20%;
  width: 200px;
  height: 200px;
}